#content {
    margin: -8px;
}

header {
    background-color: #35d2ab;
    padding-left: 5px;
}
    #logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 13px;
    }
    header h2 {
        margin-top: -18px;
        font-size: 19px;
        color: rgb(46, 124, 103);
    }
    header button {
        position: absolute;
        right: 1px;
        height: 120px;
        font-size: 50px;
        text-align: center;
        margin-top: -140px;
        border: none;
        background-color: transparent;
        color: #025a44;
    }
    h1 {
        color: #025a44;
    }
    h2 {
        color: #2d8109;
    }

nav {
    background-color: #4282d3;
    margin-top: -18px;
}
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-weight: bold;
    }
    nav ul li a {
        display: block;
        text-align: center;
        padding: 0.75rem;
        text-decoration: none;
        font-size: 1.2rem;
        color: #05326d;
    }
    nav ul li a:hover {
        background-color: #05326d;
        color: #4282d3;
    }
    nav ul li a:active {
        background-color: #05326d;
        color: #4282d3;
    }
    nav.hide {
        display: none;
    }
    #menu:after {
        content: "";
        display: table;
        clear: both;
    }
    #menuButton {
        display: none;
    }
    #activePage {
        background-color: #05326d;
        color: #4282d3;
    }


    main h2, main h3 {
        text-align: center;
    }
    .sectOne {
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sectTwo {
        background-color: #89E9D1;
        padding: 10px 20px;
        
    }
    main img {
        width: 100%;
        margin: 0 auto;
    }
    .sectThree {
        padding: 10px 20px;
    }
        .summary {
            width: 200px;
            border: 10px inset #FF8740;
            text-align: center;
            margin: 0 auto;
            background-color: #ffcdb0;
        }
        main button {
            width: 100%;
            height: 40px;
            align-items: center;
            background-color: #FF8740;
            font-weight: bold;
            border: 3px inset #FF8740;
            margin: 0 auto;
            margin-top: 10px;
            font-size: large;
        }

    .contact {
        background-color: #89E9D1;
        padding: 20px 20px;
        text-align: center;
    }
    iframe, #images {
        display: none;
    }

footer {
    background-color: #4282d3;
    text-align: center;
    margin-top: -16px;
}

@media only screen and (min-width: 640px) {
    header {
        padding-bottom: 28px;
    }
    #logo {
        justify-content: center;
        font-size: 19px;
        margin-top: -25px;
    }
    header h2 {
        text-align: center;
        font-size: 27px;
        margin-top: -25px;
    }
    header button {
        background-color: #4282d3;
        height: 50px;
        width: 100%;
        right: 0;
        top: 312px;
        margin-right: 0;
        font-size: 30px;
        color: #05326d;
    }
    #menuButton {
        display: contents;
    }
    nav {
        margin-top: 0px;
    }

   
    #main img {
        float: right;
        width: auto;
        margin: 20px;
        margin-top: 70px;
    }
    .sectOne h2 {
        text-align: left;
    }

    .sectTwo {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .sectTwo img {
        width: auto;
        margin: 10px;
    }

    .sectThree {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .summary {
        margin: 0 20px;
    }
}


@media only screen and (min-width: 1024px)
{
    header {
        margin-bottom: -45px;
    }
    #logo {
        font-size: 27px;
        margin-top: -30px;
    }
    header h2 {
        font-size: 40px;
        margin-top: -40px;
    }
    header button, #menuButton {
        display: none;
    }

    nav {
        margin-top: -31px;
    }
    nav ul li {
        border: 5px solid #ffffff;
        flex: 1 1 100%;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    nav.hide {
        display: block;
    }

    #main img {
        margin-top: 25px;
    }
    main h3 {
        text-align: left;
    }

    #images {
        display: block;
        margin: -5px;
    }

    iframe {
        display: block;
        max-width: 800px;
        max-height: 400px;
        margin-top: -15px;
    }
    #contacts {
        padding-left: 10px;
    }
    .contact {
        display: flex;
        flex-direction: row;
        height: 440px;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
    .contact h3 {
        text-align: left;
    }
}