#content {
    max-width: 900px;
    width: 100%;
    margin: 0 auto; 
    font-family: "Dosis";
    font-size: 18px;
}

header {
    background-color: #5772a0;
    border-radius: 7.5px;
    padding-left: 10px;
}

h1 {
    font-family: "Bangers";
    color: #450716;
    font-size: 50px;
}

h2 {
    color: #883346;
    font-family: "Abril Fatface";
    font-size: 25px;
}

li {
    list-style-type: none;
    font-weight: bold;
}

nav {
    text-align: center;
    width: 100%;
    background-color: #a1bae4;
    border-radius: 7.7px;
    margin-top: -20px;
}
nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav li a{
    display: block;
    text-align: center;
    padding-bottom: 10px;
}

footer {
    text-align: center;
    background-color: #5772a0;
    border-radius: 7.5px;
}

main {
    padding: 10px 30px;
    background-color: #fff39b;
    margin-top: -5px;
    margin-bottom: 15px;
    border-radius: 7.5px;
}

img {
    max-width: 50%;
    margin-right: 10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    text-align: center;
}

th, td {
    padding: 10px;
  }

a {
    color: #450716;
}
a:hover {
    color: #883346;
}
a:active {
    color: #883346;
}

p {
    padding-left: 30px;
}

@media screen and (min-width: 600px) {
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    nav li a{
        display: block;
        text-align: center;
        padding-left: 15px;
    }
}