#content {
    max-width: 550px;
    width: 70%;
    margin: 0 auto; 
}

header {
    background-color: #36ba8e;
    border-radius: 7.5px;
}

footer {
    text-align: center;
    background-color: #36ba8e;
    border-radius: 7.5px;
}

main {
    padding: 10px 30px;
}

img {
    max-width: 30%;
    float: right;
    border-radius: 10px;
    margin-top: -50px;
    margin-right: 10px;
    box-shadow: 0 0 20px #242525;
}

